:root {
  --bg-color: #f1f1f1;
  --font-color: black;
  --navbar-bg-color: white;
  --navbar-color: black;
  --sidebar-bg-color: #f1f1f1;
  --products-area-color: #f1f1f1;

  background-color: var(--bg-color);
  overflow-y: scroll;
}

#root {
  color: var(--font-color);
  background-color: var(--bg-color);
}

body {
  min-width: 550px;
}

/* Custom scrollbar - Start */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Custom scrollbar - End */

.my-layout {
  display: grid;
  grid-template-areas:
    "navbar"
    "main";
  grid-template-rows: 50px auto;
  grid-template-columns: auto;
  height: 100%;
}

.my-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-navbar {
  grid-area: navbar;
  /* position: fixed; */
  display: flex;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg-color);
  z-index: 1;
}

.collapse-btn {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-color);
  border: none;
  display: none;
}

@media screen and (max-width: 600px) {
  .collapse-btn {
    display: block;
    margin: 10px;
  }

  .my-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-group {
    display: none;
  }
  .nav-group.my-collapse {
    width: 100vw;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    background-color: var(--navbar-bg-color);
  }
}

.my-nav-brand {
  font-size: 1.4rem;
  color: var(--navbar-color);
  padding: 1rem;
}

.my-nav-brand:hover {
  color: red;
  text-decoration: none;
}

.my-nav-item {
  color: var(--navbar-color);
  padding: 1rem;
}

.my-nav-item:hover {
  color: dodgerblue;
  text-decoration: none;
}

.my-nav-item:active {
  color: pink;
}

.my-main {
  grid-area: main;
  display: flex;
  height: 100%;
  justify-content: center;
}

.my-form-layout {
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 450px;
}

.sidebar {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  height: calc(100% - 16px);
  /* border: 2px solid lightblue; */
  background-color: var(--sidebar-bg-color);
  padding: 2rem;
  margin-left: 0.1rem;
  flex-shrink: 0;
}

@media screen and (max-width: 930px) {
  .sidebar {
    display: none;
  }

  .my-card-list {
    display: flex;
    width: 400px;
    justify-content: center;
  }
}

.products-page {
  grid-area: products;
  border-radius: 10px;
  /* border: 5px solid #f6f8ff; */
  /* background-color: #fcfcff; */
  margin: 0 1rem;
  height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.products-area {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--products-area-color);
  margin: 2rem;
}

.my-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 10px;
  justify-content: center;
}

.my-card {
  width: 295px;
  height: 495px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px lightgrey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f5f5f5;
}

.my-card-header {
  padding: 0 1rem;
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
}

.my-card-body {
  margin: 0.5rem 0;
  padding: 0 1rem;
  display: flex;
  height: 80%;
  flex-direction: column;
}

.my-card-img {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: height 0.3s ease;
}

.my-card-img:hover {
  height: 250px;
}

.my-card-img img {
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.my-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
  height: 15%;
  text-decoration: none;
}

.my-card-description {
  text-align: center;
  font-size: 1rem;
  height: 80px;
  overflow: hidden;
}

.my-card-price {
  align-self: flex-end;
  height: 8%;
  color: green;
}

.my-card-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  padding-left: 1rem;
}

.my-pagination {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 1rem;
  padding-left: 0;
}

.products-area > .my-pagination {
  min-height: 30px;
}

.my-page {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #363636;
  background-color: var(--products-area-color);
  border-radius: 4px;
}

.my-current-page {
  color: #1c7ece;
  font-weight: bold;
}

.my-page:hover {
  background-color: #f9f9f9;
}

table {
  border-radius: 10px;
  overflow: hidden;
  border-style: hidden;
  box-shadow: 0 0 0 1px lightgray;
  table-layout: fixed;
}

thead {
  background-color: #ebefff;
}

tbody {
  background-color: white;
}

th {
  width: 100px;
  overflow: hidden;
}

.profile-section,
.profile-section > table {
  margin: 1rem 0;
}

.btn-primary {
  margin: 1rem 0;
}

.product-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2rem;
}

.product-details-image {
  height: 330px;
  transition: height 0.5s ease;
}

.product-details-image:hover {
  height: 350px;
}

.product-details-body {
  margin: 2rem;
  width: 800px;
}

.product-details-header {
  display: flex;
  flex-direction: row;
}

.product-details-header > * {
  margin-right: 1rem;
}

.product-details-description > * {
  margin: 1rem 0;
}

.product-details-buy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
