.layout {
  display: grid;
  grid-template-areas:
    "navbar"
    "main";
  grid-template-rows: 50px auto;
  grid-template-columns: auto;
  height: 90vh;
}

.navbar {
  grid-area: navbar;
  display: flex;
}

.main {
  background-color: #f1f1f1;
  grid-area: main;
  justify-content: center;
}
