.products-page {
  display: grid;
  grid-template-areas: "sidebar products";
  grid-template-columns: 20fr 80fr;
  margin-right: 5rem;
}


.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  background-color: #f6f8fa;
  padding: 2rem;
}

@media screen and (max-width: 1300px) {
  .sidebar {
    display: none;
  }
}

.products-area {
  grid-area: products;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
